@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
.land-navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  z-index: 10;
}
.land-navbar .land-logo {
  margin: 0 15px;
}
.land-navbar .land-logo img {
  width: 30%;
}
.land-navbar .nav-links ul {
  display: flex;
  list-style: none;
}
.land-navbar .nav-links ul li {
  margin-right: 25px;
}

.land-container {
  position: relative;
  top: 100px;
  padding: 10px;
  background-color: #fff;
}
.land-container .about {
  background-color: #fff;
  padding: 40px;
  margin-left: 50px;
  border-radius: 15px;
  width: 40%;
}
.land-container .about h1 {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.land-container .about p {
  margin-bottom: 15px;
  font-size: 20px;
}
.land-container img {
  width: 40%;
  right: 110px;
  top: 50px;
  position: absolute;
  z-index: 9;
}

.curve {
  position: relative;
  top: 50px;
}

.login-container {
  display: inline-block;
  background-color: #fff;
  min-height: 100vh;
  min-width: 30%;
  padding: 10px;
}
.login-container .center-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.login-container .flex-container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container .flex-container a {
  width: 40%;
  margin-bottom: 40px;
}
.login-container .flex-container a img {
  width: 100%;
}
.login-container .flex-container h1 {
  color: var(--primary-color);
  margin-bottom: 30px;
}
.login-container .flex-container form {
  display: flex;
  flex-direction: column;
}
.login-container .flex-container form input {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: #aaa 1px solid;
  margin: 5px 0 15px;
}
.login-container .flex-container form div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.login-container .flex-container form div .green-button {
  padding: 8px;
  font-size: 15px;
}
.login-container .flex-container form div a {
  width: 100%;
  text-align: right;
  padding: 8px;
}

.container {
  display: flex;
  height: 100vh;
}
.container .menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .menu-container .controls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-bottom: 1px #aaa solid;
  box-shadow: 0px 5px 5px #aaa;
  z-index: 10;
}
.container .menu-container .controls-nav .search {
  border: 1px solid #aaa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.container .menu-container .controls-nav .search input {
  width: 500px;
  max-width: 30vw;
  padding: 5px;
  border: none;
  font-size: 15px;
}
.container .menu-container .controls-nav .search input:focus {
  border: none;
  outline: none;
}
.container .menu-container .controls-nav .search img {
  margin-right: 5px;
  width: 25px;
}
.container .menu-container .controls-nav .functions button {
  margin-left: 10px;
  padding: 5px;
}
.container .menu-container .controls-nav .functions button img {
  width: 30px;
}
.container .menu-container .controls-nav .extra {
  display: flex;
}
.container .menu-container .controls-nav .extra button {
  margin-right: 10px;
}
.container .menu-container #display {
  display: inline-block;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #eaeaea;
}
.container .menu-container #display .directory {
  display: flex;
  align-items: center;
  margin: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.container .menu-container #display .directory img {
  margin-right: 10px;
}
.container .menu-container #display .display-flex {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0 20px 20px;
}
.container .menu-container #display .display-flex .exam-container {
  height: 150px;
  max-width: 90%;
}
.container .menu-container #display .display-flex .exam-container .exam-name {
  display: flex;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 5px 5px;
  border-radius: 15px 15px 0 0;
}
.container .menu-container #display .display-flex .exam-container .exam-name img {
  width: 30px;
  margin-right: 10px;
}
.container .menu-container #display .display-flex .exam-container .exam-info {
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 5px;
}
.container .menu-container #display .display-flex .exam-container .exam-info div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.container .menu-container #display .display-flex .exam-container .exam-info div img {
  width: 30px;
  cursor: pointer;
}
.container aside {
  display: inline-block;
  width: 70px;
  border-right: 1px solid #aaa;
  height: 100%;
}
.container aside .functions {
  display: flex;
  flex-direction: column;
}
.container aside .functions button {
  margin: 5px 0;
}
.container aside .flex-container {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#add-grade-button {
  background-image: url("../img/add-pc.svg");
}
#add-grade-button:hover {
  background-image: url("../img/add.svg");
}

#create-folder-button {
  background-image: url("../img/create-new-folder-pc.svg");
}
#create-folder-button:hover {
  background-image: url("../img/create-new-folder.svg");
}

#settings-button {
  background-image: url("../img/settings-pc.svg");
}
#settings-button:hover {
  background-image: url("../img/settings.svg");
}

#progress-button {
  background-image: url("../img/graphic-pc.svg");
}
#progress-button:hover {
  background-image: url("../img/graphic.svg");
}

#logout-button {
  background-image: url("../img/logout-pc.svg");
}
#logout-button:hover {
  background-image: url("../img/logout.svg");
}

#question-button {
  background-image: url("../img/question-pc.svg");
}
#question-button:hover {
  background-image: url("../img/question.svg");
}

:root {
  --primary-color: #31649a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Signika Negative", sans-serif;
  background-color: #fff;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.bg {
  background-color: #000;
  background-image: url("../img/hollowed-boxes.svg");
}

.green-button {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to bottom, #6eb800, #7ed102);
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 15px;
  border: none;
}
.green-button:hover {
  background: linear-gradient(to bottom, #71bd00, #64a700);
}

.round-button {
  transition: 0.15s;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  background-color: #fff;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.round-button:hover {
  background-color: var(--primary-color);
}

.icon {
  width: 30px;
}

.logo {
  height: 35px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

/*# sourceMappingURL=style.css.map */
